.searchWidgetInput {
  margin: 8px 8px 0 8px !important;
}

.searchWidgetRangePickerInput {
  margin-bottom: 8px !important;
}

.searchWidgetTextInput {
  width: 20rem !important;
  display: block;
}

.searchWidgetDivider {
  margin: 0 !important;
}

.searchWidgetButtons {
  display: flex;
  margin: 0 8px 8px 8px;
  text-align: center !important;
}

.searchWidgetButtonsSpacing {
  flex: auto;
}

.searchWidgetCheckBoxItem {
  padding: 2px 8px;
  display: flex;
  border-radius: 4px;
}

.searchWidgetCheckBoxItem:hover {
  background-color: rgb(var(--callout-rgb));
}

.searchWidgetCheckBoxItemActive {
  background-color: #e6f4ff;
}
.searchWidgetCheckBoxItemActive:hover {
  background-color: #bae0ff;
}

[data-theme="dark"] {
  .searchWidgetCheckBoxItem:hover {
    background-color: rgba(225, 225, 225, 0.08);
  }
  .searchWidgetCheckBoxItemActive {
    background-color: #15325b;
  }
  .searchWidgetCheckBoxItemActive:hover {
    background-color: #15417e;
  }
}
