run --workspace_status_command="bash tools/workspace-status.sh"
build --bes_backend=grpcs://bes.ivy.cx:443
build --bes_results_url=https://bbportal.ivy.cx/bazel-invocations/
build --remote_cache=grpcs://rbe.ivy.cx:443
build --remote_executor=grpcs://rbe.ivy.cx:443
build --remote_instance_name=rbe
build --remote_default_exec_properties=OSFamily=linux
build --remote_default_exec_properties=container-image=docker://ghcr.io/catthehacker/ubuntu:act-22.04@sha256:5f9c35c25db1d51a8ddaae5c0ba8d3c163c5e9a4a6cc97acd409ac7eae239448
build --jobs=64
build --incompatible_enable_cc_toolchain_resolution=true
build --incompatible_use_cc_configure_from_rules_cc=true
build --cxxopt=-std=c++17
build --host_cxxopt=-std=c++17
test --test_output=errors
build --extra_toolchains=//tools/remote-toolchains:all


common --incompatible_enable_proto_toolchain_resolution
