.footerBar {
  display: flex;
  justify-content: center;
  font-size: 0.95em !important;
}

.divider {
  top: 0.1em !important;
  height: 1.1em !important;
}

@media only screen and (max-width: 60rem) {
  .divider {
    display: none !important;
  }

  .footerLink {
    display: none;
  }
}
