:root {
  --font-mono:
    ui-monospace, "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
    monospace;

  --callout-rgb: 238, 240, 241;

  --footer-height: 75px; /* The configured (via Ant) height of the Footer at the bottom of the page */

  /* Reuse the box shadow from the Ant Card component */
  --ant-card-box-shadow:
    rgba(0, 0, 0, 0.03) 0px 1px 2px 0px, rgba(0, 0, 0, 0.02) 0px 1px 6px -1px,
    rgba(0, 0, 0, 0.02) 0px 2px 4px 0px;
  --ant-card-box-shadow-inset: inset rgba(0, 0, 0, 0.06) 0 1px 2px 0;

  --color-status-aborted: #faad14;
  --color-status-disabled: rgba(0, 0, 0, 0.25);
  --color-status-failure: #ff4d4f;
  --color-status-success: #389e0d;
}

pre {
  page-break-inside: avoid;
  font-family: var(--font-mono);
  font-size: 85%; /* Match what Ant Typography does in rendering code */
  line-height: 1.4;
  max-width: 100%;
  overflow: auto;
  display: block;
  word-wrap: break-word;
}

[data-theme="dark"] {
  --callout-rgb: 20, 20, 20;

  color-scheme: dark;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

html,
body {
  min-height: 100svh;
  max-width: 100vw;
  overflow-x: hidden;
}
