{
   "jobs": {
      "build_and_test": {
         "runs-on": "ubuntu-latest",
         "steps": [
            {
               "name": "Check out source code",
               "uses": "actions/checkout@v1"
            },
            {
               "name": "Installing Bazel",
               "run": "v=$(cat .bazelversion) && curl -L https://github.com/bazelbuild/bazel/releases/download/${v}/bazel-${v}-linux-x86_64 > ~/bazel && chmod +x ~/bazel && echo ~ >> ${GITHUB_PATH}"
            },
            {
               "name": "Bazel mod tidy",
               "run": "bazel mod tidy"
            },
            {
               "name": "Gazelle",
               "run": "rm -f $(find . -name '*.pb.go' | sed -e 's/[^/]*$/BUILD.bazel/') && bazel run //:gazelle"
            },
            {
               "name": "Buildifier",
               "run": "bazel run @com_github_bazelbuild_buildtools//:buildifier"
            },
            {
               "name": "Gofmt",
               "run": "bazel run @cc_mvdan_gofumpt//:gofumpt -- -w -extra $(pwd)"
            },
            {
               "name": "Clang format",
               "run": "find . -name '*.proto' -exec bazel run @llvm_toolchain_llvm//:bin/clang-format -- -i {} +"
            },
            {
               "name": "GitHub workflows",
               "run": "bazel build //tools/github_workflows && cp bazel-bin/tools/github_workflows/*.yaml .github/workflows"
            },
            {
               "name": "Protobuf generation",
               "run": "if [ -d bazel-bin/pkg/proto ]; then\n  find . bazel-bin/pkg/proto -name '*.pb.go' -delete || true\n  bazel build $(bazel query --output=label 'kind(\"go_proto_library\", //...)')\n  find bazel-bin/pkg/proto -name '*.pb.go' | while read f; do\n    cat $f > $(echo $f | sed -e 's|.*/pkg/proto/|pkg/proto/|')\n  done\nfi\n"
            },
            {
               "name": "Embedded asset generation",
               "run": "bazel build $(git grep '^[[:space:]]*//go:embed ' | sed -e 's|\\(.*\\)/.*//go:embed |//\\1:|; s|\"||g; s| .*||' | sort -u)\ngit grep '^[[:space:]]*//go:embed ' | sed -e 's|\\(.*\\)/.*//go:embed |\\1/|' | while read o; do\n  if [ -e \"bazel-bin/$o\" ]; then\n    rm -rf \"$o\"\n    cp -r \"bazel-bin/$o\" \"$o\"\n    find \"$o\" -type f -exec chmod -x {} +\n  fi\ndone\n"
            },
            {
               "name": "Test style conformance",
               "run": "git add . && git diff --exit-code HEAD --"
            },
            {
               "name": "Golint",
               "run": "bazel run @org_golang_x_lint//golint -- -set_exit_status $(pwd)/..."
            },
            {
               "name": "linux_amd64: build and test",
               "run": "bazel test --test_output=errors --platforms=@rules_go//go/toolchain:linux_amd64_cgo //..."
            },
            {
               "name": "linux_amd64: copy bb_portal",
               "run": "rm -f bb_portal && bazel run --run_under cp --platforms=@rules_go//go/toolchain:linux_amd64_cgo //cmd/bb_portal $(pwd)/bb_portal"
            },
            {
               "name": "linux_amd64: upload bb_portal",
               "uses": "actions/upload-artifact@v4",
               "with": {
                  "name": "bb_portal.linux_amd64",
                  "path": "bb_portal"
               }
            },
            {
               "name": "linux_386: build and test",
               "run": "bazel test --test_output=errors --platforms=@rules_go//go/toolchain:linux_386_cgo //..."
            },
            {
               "name": "linux_386: copy bb_portal",
               "run": "rm -f bb_portal && bazel run --run_under cp --platforms=@rules_go//go/toolchain:linux_386_cgo //cmd/bb_portal $(pwd)/bb_portal"
            },
            {
               "name": "linux_386: upload bb_portal",
               "uses": "actions/upload-artifact@v4",
               "with": {
                  "name": "bb_portal.linux_386",
                  "path": "bb_portal"
               }
            },
            {
               "name": "linux_arm: build and test",
               "run": "bazel build --platforms=@rules_go//go/toolchain:linux_arm_cgo //..."
            },
            {
               "name": "linux_arm: copy bb_portal",
               "run": "rm -f bb_portal && bazel run --run_under cp --platforms=@rules_go//go/toolchain:linux_arm_cgo //cmd/bb_portal $(pwd)/bb_portal"
            },
            {
               "name": "linux_arm: upload bb_portal",
               "uses": "actions/upload-artifact@v4",
               "with": {
                  "name": "bb_portal.linux_arm",
                  "path": "bb_portal"
               }
            },
            {
               "name": "linux_arm64: build and test",
               "run": "bazel build --platforms=@rules_go//go/toolchain:linux_arm64_cgo //..."
            },
            {
               "name": "linux_arm64: copy bb_portal",
               "run": "rm -f bb_portal && bazel run --run_under cp --platforms=@rules_go//go/toolchain:linux_arm64_cgo //cmd/bb_portal $(pwd)/bb_portal"
            },
            {
               "name": "linux_arm64: upload bb_portal",
               "uses": "actions/upload-artifact@v4",
               "with": {
                  "name": "bb_portal.linux_arm64",
                  "path": "bb_portal"
               }
            },
            {
               "name": "darwin_amd64: build and test",
               "run": "bazel build --platforms=@rules_go//go/toolchain:darwin_amd64_cgo //..."
            },
            {
               "name": "darwin_amd64: copy bb_portal",
               "run": "rm -f bb_portal && bazel run --run_under cp --platforms=@rules_go//go/toolchain:darwin_amd64_cgo //cmd/bb_portal $(pwd)/bb_portal"
            },
            {
               "name": "darwin_amd64: upload bb_portal",
               "uses": "actions/upload-artifact@v4",
               "with": {
                  "name": "bb_portal.darwin_amd64",
                  "path": "bb_portal"
               }
            },
            {
               "name": "darwin_arm64: build and test",
               "run": "bazel build --platforms=@rules_go//go/toolchain:darwin_arm64_cgo //..."
            },
            {
               "name": "darwin_arm64: copy bb_portal",
               "run": "rm -f bb_portal && bazel run --run_under cp --platforms=@rules_go//go/toolchain:darwin_arm64_cgo //cmd/bb_portal $(pwd)/bb_portal"
            },
            {
               "name": "darwin_arm64: upload bb_portal",
               "uses": "actions/upload-artifact@v4",
               "with": {
                  "name": "bb_portal.darwin_arm64",
                  "path": "bb_portal"
               }
            },
            {
               "name": "freebsd_amd64: build and test",
               "run": "bazel build --platforms=@rules_go//go/toolchain:freebsd_amd64_cgo //cmd/bb_portal"
            },
            {
               "name": "freebsd_amd64: copy bb_portal",
               "run": "rm -f bb_portal && bazel run --run_under cp --platforms=@rules_go//go/toolchain:freebsd_amd64_cgo //cmd/bb_portal $(pwd)/bb_portal"
            },
            {
               "name": "freebsd_amd64: upload bb_portal",
               "uses": "actions/upload-artifact@v4",
               "with": {
                  "name": "bb_portal.freebsd_amd64",
                  "path": "bb_portal"
               }
            },
            {
               "name": "windows_amd64: build and test",
               "run": "bazel build --platforms=@rules_go//go/toolchain:windows_amd64_cgo //..."
            },
            {
               "name": "windows_amd64: copy bb_portal",
               "run": "rm -f bb_portal.exe && bazel run --run_under cp --platforms=@rules_go//go/toolchain:windows_amd64_cgo //cmd/bb_portal $(pwd)/bb_portal.exe"
            },
            {
               "name": "windows_amd64: upload bb_portal",
               "uses": "actions/upload-artifact@v4",
               "with": {
                  "name": "bb_portal.windows_amd64",
                  "path": "bb_portal.exe"
               }
            },
            {
               "env": {
                  "GITHUB_TOKEN": "${{ secrets.GITHUB_TOKEN }}"
               },
               "name": "Install Docker credentials",
               "run": "echo \"${GITHUB_TOKEN}\" | docker login ghcr.io -u $ --password-stdin"
            },
            {
               "name": "Push container bb_portal:bb_portal",
               "run": "bazel run --stamp //cmd/bb_portal:bb_portal_container_push"
            }
         ]
      }
   },
   "name": "master",
   "on": {
      "push": {
         "branches": [
            "main",
            "master"
         ]
      }
   }
}
