.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  backdrop-filter: blur(6px);
  box-shadow: var(--ant-card-box-shadow);
  display: inline-grid;
  grid-template-columns: max-content 1fr max-content;
  align-items: center;
}

.menu {
  background-color: inherit !important;
  justify-content: end;
  width: 100%;
  border: none !important;
}

.buttonContainer {
  margin-left: 1rem;
}

.menuButton {
  justify-self: end;
}

.footerBar {
  flex-direction: column;
  align-items: center;
  background-color: inherit !important;
}

.copyright {
  display: none;
}

.linkItem {
  /* empty style will override default behavior of hiding on smaller screen. */
}

.normalWeight {
  font-weight: normal;
  font-size-adjust: calc(0.5);
  padding-left: 10px;
}
